.navbar {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: center;
    padding: .5rem 1rem .1rem;
    justify-content: space-between;
    background-color: #171eee;
    box-shadow: 0 0 .7rem rgba(0, 0, 0, .8);
}

.navbar__img {
    width: 7.5rem;
    cursor: pointer;
}

.navbar__item {
    cursor: pointer;
    color: var(--white);
    margin-right: .5rem;
    border-radius: .3rem;
    padding: .2rem .5rem;
    text-decoration: none;
    font-weight: var(--font-weight-semi-bold);
    background-color: rgba(255, 255, 255, .3);
    transition-duration: var(--transition-duration);
    transition-property: background-color, box-shadow;
    transition-timing-function: var(--transition-function);
}

.navbar__item:hover,
.navbar__item--active {
    box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, .65);
}

.link-open-sidebar {
    color: var(--white);
    line-height: 0;
    position: absolute;
    display: none;
}

.link-open-sidebar:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, .8);    
}

@media only screen and (max-width: 50rem) {
    .link-open-sidebar {
        display: block;
    }
    
    .navbar__item--first {
        margin-left: 2rem;
    }
}
