.loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.container__loading {
    text-align: center;
    animation: floating 2s linear infinite;
}

.container__loading--shadown {
    left: 0;
    bottom: 0;
    width: 100%;
    height: .1rem;
    font-size: .8rem;
    position: absolute;
    color: var(--black);
    transform: translateY(1.5rem);
    background-color: rgba(0,0,0,.15);
    animation: floatingShadow 2s linear infinite;
}

.loading__image {
    width: 6rem;
}

@keyframes floatingShadow {
    0%, 100% {
        transform: translateY(3rem) scale(1.5);
        opacity: .3;
    }
    25%, 75% {
        opacity: .6;
        transform: translateY(1.5rem) scale(1.2);
    }
    50% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes floating {
    0%, 100% { transform: translateY(-1.5rem); }
    25%, 75% { transform: translateY(0); }
    50% { transform: translateY(1.5rem); }
}