.sidebar {
    left: 0;
    top: 4.4rem;
    position: fixed;
    padding: 0 .5rem;
    color: var(--white);
    width: var(--sidebar-width);
    height: calc(100vh - 4.4rem);
    background-color: var(--sidebar-bg-color);
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-function);
}

.sidebar__item {
    padding-bottom: 1rem;
    border-bottom: .01rem solid var(--white);
}

.sidebar__item:last-child {
    border: none;
}

.sidebar__item--search {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr 4rem;
}

.select__container {
    margin-left: .2rem;
}

.sidebar__filters {
    display: flex;
    grid-column: 1 / 3;
    align-items: center;
    justify-content: space-between;
}

/* Checkbox */
.checkbox {
    user-select: none;
    position: relative;
    height: 3rem;
}

.checkbox > input {
    display: none;
}

.checkbox > input + label:before {
    top: 2rem;
    content: '';
    left: .8rem;
    height: 1rem;
    width: 2.5rem;
    cursor: pointer;
    position: absolute;
    border-radius: 0.5rem;
    background-color: var(--gray);
    transition: background-color var(--transition-duration) var(--transition-function);
}

.checkbox > input + label:after {
    left: .5rem;
    content: '';
    top: 1.85rem;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    position: absolute;
    border-radius: 1rem;
    background-color: var(--white);
    transition: transform var(--transition-duration) var(--transition-function);
}

.checkbox > input:checked + label:before {
    background-color: var(--primary-color);
}

.checkbox > input:checked + label:after {
    transform: translateX(1.6rem);
    box-shadow: 0 0 .5rem var(--white);
}
/* Checkbox */

.sidebar__link-comic {
    font-weight: var(--font-weight-semi-bold);
}

.sidebar__link-comic:hover,
.sidebar__link-attribution:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.sidebar__link-comic--active {
    text-decoration: line-through;
    color: var(--primary-color);
}

.sidebar__link-view-comic:hover {
    color: var(--primary-color);    
}

.sidebar__filters--comic {
    margin-bottom: .5rem;
}

.sidebar-comic-container {
    max-height: calc(100vh - 4.4rem - 75px - 225px);
    overflow-y: auto;
    margin-top: .75rem;
}

.sidebar__link-attribution {
    color: var(--white);
    text-decoration: underline;
}

@media only screen and (max-width: 50rem) {
    .sidebar {
        z-index: 1;
        transform: translateX(-17rem);
    }

    .sidebar--open {
        transform: translateX(0);
    }
}